<div id="login-form-wrapper">
    <form  id="login-form">
        <h1>Log In Into <div style="text-transform: uppercase">Carent</div></h1>
        <mat-form-field class="login-form-field">
            <mat-label>Username</mat-label>
            <input [formControl]="username" matInput required>
            <mat-error *ngIf="username.hasError('required')">Username is
                <strong>required</strong>!</mat-error>
        </mat-form-field>

        <mat-form-field class="login-form-field">
            <mat-label>Password</mat-label>
            <input [formControl]="password" type="password" matInput required>
            <mat-error *ngIf="password.hasError('required')">Password is
                <strong>required</strong>!</mat-error>
        </mat-form-field>
        <a [routerLink]="['/sign-up']">Dont have an Accout yet? - Sign Up</a>
        <button (click)="login($event)" mat-stroked-button>Login</button>
    </form>
</div>