#car-reservation-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#car-reservation-wrapper{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.car-reservation-field{
    width: 20rem;
    margin-bottom: 1rem;
}

#car-reservation-form-action{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}